h1 {
    filter: drop-shadow(2px 2px 4px rgba(236, 233, 233, 0.5));
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

table{
    font-family: sans-serif;
    text-align: center;
}

.btnAgregar {
    background-color: green;
    color: #fff;
    width: 100%;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.btnAgregar:hover {
    background-color: #55e303;
}
.btnVerDetalles {
    background-color: #806cee;
    color: #fff; 
    border: none; 
    padding: 8px 16px; 
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}
  
.btnVerDetalles:hover {
    background-color: #2d28c6;
    
}
.btnEliminar {
    background-color: #f44336;
    color: #fff; 
    border: none; 
    padding: 8px 16px; 
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.btnEliminar:hover {
    background-color: #c62828;
}


body{
    background-color: rgb(0, 0, 0);
    color:white;
}

img{
    width: 200px;
}

.año, .patente, .precio{
    width: 70px;
    
}

.miCheckbox{
    display: flex;
    justify-content: center;
    align-items: center;
}